.signin-container {
    border-radius: 20px;
    background-color: lightgray;
    padding: 20px;
    min-width: 500px;
    text-align: center;
    color: white;
}

.alert {
    position: relative;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-left: 36px;
    margin-right: 36px;
}
