.form-container
{
    text-align: center;
    border-radius: 20px;
    border:10px;
    background-color: slategray;
}
.event-info-box {
    background-color: #f9f9f9;
    color: #262626;
    padding: 0px 30px;
    margin-bottom: 10px
}
.task-name
{
    margin-top:20px;
}